/* You can add global styles to this file, and also import other style files */

@use '@angular/material' as mat;

@include mat.core();

// Define a custom theme
$adel-primary: mat.define-palette(mat.$indigo-palette);
$adel-accent: mat.define-palette(mat.$blue-palette, A200, A100, A400);
$adel-warn: mat.define-palette(mat.$red-palette);

$adel-theme: mat.define-light-theme((
  color: (
    primary: $adel-primary,
    accent: $adel-accent,
    warn: $adel-warn,
  ),
  typography: mat.define-typography-config(),
  density: 0,
));

@include mat.all-component-themes($adel-theme);

// Global styles
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

* {
  box-sizing: border-box;
}
